body{
    box-sizing: border-box;
}
@media (max-width:600px){
    header{
        font-family: cursive ;
        background-color: #969696bd;
        color: white;
        width: 100%;
        height: 10vh;
        position: fixed;
        top: 0%;
    }
    #home{
        display: grid;
        grid-auto-columns: 1fr;
        flex-direction: column;
    }
    #home .data{

        /* height: 100%; */
        width: 98vw;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-content: flex-end;
        justify-content: space-evenly;
    }
    #home .banner{
display: none;
}
    #home .data h1.h5,h3{
margin: 0px;
}
header nav ul {
   
    display: none;
   
    }
    header h1{
        padding-left: 128px;
    }
    #about {
        display: flex;
        height: 176vw;
        width: 100%;
        text-align: center;
        justify-content: flex-start;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;}
    #about .about-skills{
        width:95vw;
    
    margin: 0px;
    }
    #about .about-expriance{
        width:95vw;
    
    margin: 0px;
    margin-top: 30px;
    }
   
    #about .intro h1,h5{
        width: 100vw;
        padding: 0px;
    }
    
    #about .intro h5{
        width: 100vw;
        padding: 0px;}
    #services{
            height: 300vw;
            width: 100vw;
            text-align: center;
        }
      
    #services .srrvices1 .service .service-desc {
        width: 95vw;
        margin: 0px;
        /* display: grid; */
        /* grid-template-columns: 1fr 1fr 1fr 1fr; */
        display: flex;
        border-bottom: 2px #3e3e3e solid;
        align-content: space-between;
        flex-direction: column}
    #services .srrvices1{
    display: grid;
    grid-template-columns: 1fr;
    margin: 0px;
    }
    #services #works .srrvices .service .service-desc1 {
        width: 95vw;
        margin: 0px;
        /* display: grid; */
        /* grid-template-columns: 1fr 1fr 1fr 1fr; */
        display: flex;
       
        align-content: space-between;
        flex-direction: column}
    #services .srrvices1{
    display: grid;
    grid-template-columns: 1fr;
    margin: 0px;
    }
    #services{    height: 331vw;}
    .form{
        width: 100%;
        display: flex;
    align-content: space-between;}
    }
    #contact  .image{
        display: none;
    }
    #contact .form form textarea#fname{margin-left: 0px;}


@keyframes first{
    0%{left: 0px;}
    25% {background-color: yellow;; left: 200px;}
    75%{right: 400px;}
}
.about-skills ul li {
    padding: 5px;
   
    padding-left: 40px;
 }
 .about-skills {
   
    animation: first  5s linear 2s 1 alternate ;
    
 }
 .about-expriance {
   
    animation: first  5s linear 5s 1 alternate ;
    
 }

body{margin: 0px;padding: 0px;
width: 100%;}
header{
    font-family: cursive ;
    background-color: hsl(0deg 0% 0%);;
    color: hsl(45deg 93% 77%);
    width: 100vw;
    height: 10vh;
    position: fixed;
    top: 0%;
}
header ul{
    width: 50%;
    display: inline-flex;
    float: right;
    list-style: none;
    margin-top: 20px;
}
header ul li  {
    width: 15%;
    text-align: center;}
    header ul li a   {
        color: hsl(45deg 93% 77%);
        text-decoration: none;
        font-size: 20px;
    } 
    header ul li a:hover{
color: rgb(224, 215, 215);
transform: scale(0.5);

   }
header h1{
    width: 30%;
    float: left;
    margin-left: 5%;

}
header nav h1 span{
    background-color: blanchedalmond;
    border: 2px #9e9e9ebf solid;
    border-radius: 50%;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
}

#home{
    height: 100vh;
    width: 100%;
    background: #d6d6d6;
    grid-column: 1/5;

}
.banner {
    background-image: url(images/pexels-photo-10470826.jpeg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    height: 90%;
    
    width: 50%;
    float: left;
}
.data {
    color: hsl(45deg 93% 77%);
    font-family: cursive;
    box-shadow: 0px 1px 7px 4px #00000000, inset 0px 0px 7px 4px #6e6e6ec9;
    border: 1px #9e9e9e82 solid;
    border-radius: 40px;
    width: 30%;
    float: right;
    height: 70%;
    margin-top: 97px;
    text-align: center;
    margin-right: 247px;
    background-color: hsl(0deg 0% 0%);
    box-shadow: black;
    display: grid;
 
}

#home .data img{
    width: 150px;
    height: 150px;
    border:2px #9e9e9e7d solid ;
    border-radius: 50%;
    padding: 2px;
    margin-left: 35%;
}
#home .data h1{
    margin: 0px;
}
#home .data h2{
    margin: 0px;
    height: 5px;
    
}
#home .data h5{
    margin: 0px;
}

#home .data h3{
    font-size: 40px;
}
#about {
    height: 100vh;
    width: 100%;
    background: hsl(0deg 0% 0%);
    text-align: center;
    color: hsl(0deg 0% 0%);
    margin-top: -3%;
    padding-top: 6%;
    padding-left: 0%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/5;

}

.intro{
    color:hsl(45deg 93% 77%) ;
grid-column: 1/3;

}
.intro h1{
    font-size: x-large;
}
.intro h5{
    font-size: large;
    padding: 0% 7%;

}

#contact {
    height: 90vh;
    width: 100%;
    background: hsl(0deg 0% 0%);;
    text-align: center;
    color: hsl(45deg 93% 77%);;
    margin-top:0;
    padding-left: 0%;
    grid-column: 1/5;
}
#contact .form{
    
    width: 100%;
    padding-bottom: 50px;
    text-align: center;
    margin-top: 10%;
}






#contact .image{
    width: 50%;
    background-image: url(images/pexels-photo-10470826.jpeg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
   
    float: right;
    margin-top: -580px;
    transform: rotate( 
180deg);}

#contact .form form input#fname{
    width: 400px;
    color: black;
    text-align: center;
    height: 30px;
    border-radius: 10px;
}
#contact .form form input#fname3{
    width: 400px;
    color: black;
    text-align: center;
    height: 30px;
    border-radius: 10px;
}
#contact .form form textarea#fname2{
    width: 400px;
    height: 400px;
    color: black;
    text-align: center;
    height: 200px;
    border-radius: 10px;
}
#contact .form form textarea#fname{
    width: 410px;
    color: black;
    height: 200px;
    border-radius: 10px;
}
#contact .form form textarea#fname:hover{
    width: 410px;
    height: 200px;
  border: 1px hsl(45deg 59% 76%);
}
#contact .form form text#fname:hover{
    width: 410px;
    height: 200px;
  border: 1px hsl(45deg 59% 76%);
}

#contact .form form button#bt1{
    color: black;
  
    height: 30px;
    width: 400px;
    background-color: #fcfaffbd;
    border: 2px #767676 solid;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 1px 7px 4px #00000047, inset 0px 0px 7px 4px #00000004;
}
#contact .form form button#bt1:hover{
    background-color: rgb(22, 22, 22);
    color: hsl(45deg 93% 77%);;
    font-size: larger;
  border: 1px rgb(241, 241, 148) solid;
}
@keyframes socend{
    0%{left: 0px;}
    25% {background-color: hsl(45deg 93% 77%);; left: 200px;}
    75%{right: 400px;}
}

 .about-skills {
   
    animation: first  5s linear 2s 1 alternate ;
    
 }
footer{
    background: #d7d7d7;
    color: #3e3e3e;
   
    width: 100vw;
    height: 10vh;
    grid-column: 1/5;
}
footer p{
    margin: 0px;
    padding-top: 15px;;
}

footer ul{
    margin: 5px;
    text-align: center;
   
    
    list-style: none;
    

}
footer ul li{
    text-align: center;
    display: inline-block;
    
    list-style: none;
    margin:0px 10px;

}
footer ul li a .fab{
    
color: #5a4848;
}
.about-skills {
    color: #3e3e3e;
    font-family: cursive;
    width: 50%;
    margin-left: 250px;
    box-shadow: 0px 1px 7px 4px #00000047, inset 0px 0px 7px 4px #00000047;
    border: 1px #9e9e9ebf solid;
    border-radius: 40px;
    text-align: center;
    background-color: #eeeeee;
    box-shadow: black;
    margin-bottom: 253px;
}
.about-skills ul h1 {
    list-style: none;
    text-align: center;
    padding: 0px;

 }
.about-skills ul li {
   list-style: none;
   text-align: left;
  
}
@keyframes first{
    0%{left: 0px;}
    25% {background-color: yellow;; left: 200px;}
    75%{right: 400px;}
}
.about-skills ul li {
    padding: 5px;
   
    padding-left: 40px;
 }
 .about-skills {
   
    animation: first  5s linear 2s 1 alternate ;
    
 }
 .about-expriance {
   
    animation: first  5s linear 5s 1 alternate ;
    
 }
 .about-skills img{
    height: 70px;
    float: right;
    width: 66px;
    padding: -69px;
    padding-right: 41px;
    padding-top: 50px;


 }
.about-expriance {
    color: #3e3e3e;
    font-family: cursive;
    width: 50%;
    margin-left: 114px;
    box-shadow: 0px 1px 7px 4px #00000047, inset 0px 0px 7px 4px #00000047;
    border: 1px #9e9e9ebf solid;
    border-radius: 40px;
    text-align: center;
    background-color: #eeeeee;
    box-shadow: black;
    margin-bottom: 253px;
}

.about-expriance ul h1 {
    list-style: none;
    text-align: center;
    padding: 0px;

 }
 .about-expriance li {
   list-style: none;
   text-align: left;
  
}
.about-expriance  img{
    height: 70px;
    float: right;
    width: 66px;
    padding: -69px;
    padding-right: 41px;
    padding-top: 50px;


 }
.about-expriance ul li {
    
    padding: 5px;
    padding-left: 40px;
 }
 #content form input{
    height: 30px;
    width: 70%;
    border-radius: 10px
 }
 #services {
    height: 100vh;
    width: 100vw;
    background: #d7d7d7;
    text-align: center;
    color: #3e3e3e;
    margin-top: 0%;
    padding-left: 0%;
    grid-column: 1/5;
}
.service-desc{
    width: 100vw;
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-bottom:2px #3e3e3e solid;
}
.service-desc1{
    width: 100vw;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    
}
.service-desc img{
    width: 20vh;
    height:144px;

    
} 
.service-desc1 img{
    width: 40vh;
    height:150px;
  
    
} 
#services .srrvices1 h1{
    padding-top: 6%;
}
.srrvices1{

    margin-top: 0px;
}
.switch {
    position: fixed;
    margin-left: 56%;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: 2%;

}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #ffd54d;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
@media (max-width:700px){
    
    header{
        font-family: cursive ;
        background-color: hsl(0deg 0% 0%);
        color: hsl(45deg 93% 77%);
        width: 100%;
        height: 10vh;
        position: fixed;
        top: 0%;
    }
    #home{
        height: 123vh;
        width: 100%;
        text-align: center;
        display: grid;
        grid-auto-columns: 1fr;
        flex-direction: column;
    }
    #home .data{

        /* height: 100%; */
        width: 98vw;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-content: flex-end;
        justify-content: space-evenly;
    }
    #home .banner{
display: none;
}
    #home .data h1.h5,h3{
margin: 5px;
}
header nav ul {
   
    display: none;
   
    }
    header h1{
        padding-left: 128px;
    }
    #about {
        display: flex;
       height: 140vw;
        width: 100%;
        text-align: center;
        justify-content: flex-start;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;}
    #about .about-skills{
        width:95vw;
    
    margin: 0px;
    }
    #about .about-expriance{
        width:95vw;
    
    margin: 0px;
    margin-top: 30px;
    }
   
    #about .intro h1,h5{
        width: 100vw;
        padding: 0px;
    }
    
    #about .intro h5{
        width: 100vw;
        padding: 0px;}
    #services{
            height: 100%;
            width: 100vw;
            text-align : center;
        }
      
    #services .srrvices1 .service .service-desc {
        width: 100vw;
        margin: 0px;
        /* display: grid; */
        /* grid-template-columns: 1fr 1fr 1fr 1fr; */
        display: flex;
        border-bottom: 2px #3e3e3e solid;
        align-content: space-between;
        flex-direction: column}
    #services .srrvices1{
    display: grid;
    grid-template-columns: 1fr;
    margin: 0px;
    }
    #services #works .srrvices .service .service-desc1 {
        width: 100vw;
        margin: 0px;
        /* display: grid; */
        /* grid-template-columns: 1fr 1fr 1fr 1fr; */
        display: flex;
       
        align-content: space-between;
        flex-direction: column}
    #services .srrvices1{
    display: grid;
    grid-template-columns: 1fr;
    margin: 0px;
    }
    #services{    height: 100%;}
    form{
        width: 100%;
      
    }
    #contact  .image{
        display: none;
    }
    #contact .form form textarea#fname{
        border-radius: 10px;
        margin-left: 0px;}
    @keyframes first{
        0%{left: 0px;}
        25% {background-color: yellow;; left: 200px;}
        75%{right: 400px;}
    }
    
     .about-skills {
       
        animation: first  5s linear 2s 1 alternate ;
        
     }
     .about-expriance {
       
        animation: first  5s linear 5s 1 alternate ;
        
     }
     #contact .form form input#fname{
        width: 330px;
        text-align: center;
        height: 30px;
        border-radius: 10px;
    }
    #contact .form form input#fname3{
        width: 330px;
        text-align: center;
        height: 30px;
        border-radius: 10px;
    }
    #contact .form form textarea#fname2{
        width: 330px;
        text-align: center;
        height: 200px;
        border-radius: 10px;
    }
    #contact .form form textarea#fname{
        width: 332px;
        height: 200px;
        border-radius: 10px;
    }
    #contact .form form textarea#fname:hover{
        width:350pxpx;
        height: 200px;
      border: 1px yellow solid;
    }
    #contact .form form text#fname:hover{
        width: 351pxpx;
        height: 200px;
      border: 1px yellow solid;
    }
    
    #contact .form form button#bt1{
        color: rgb(173, 170, 170);
        color: #dacfcf;
        height: 30px;
        width:315px;
        background-color: #fcfaff00;
        border: 2px #767676 solid;
        margin: 20px;
        border-radius: 10px;
        box-shadow: 0px 1px 7px 4px #00000047, inset 0px 0px 7px 4px #00000004;
    }
    #contact .form form input#bt1:hover{
        background-color: rgb(22, 22, 22);
        color: white;
        font-size: larger;
      border: 1px rgb(241, 241, 148) solid;
    }
    #contact{
        height: 100%;
    }
    .switch {
        position: fixed;
        margin-left: 16%;
        display: inline-block;
        width: 60px;
        height: 34px;
        margin-top: 3%;
    
    }

    }
    