* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 3vmin;
  }
  
  body {
    background: #000;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    height: 100%;
    line-height: 1.7;
    color: #fff;
    padding: 1rem;
    font-family: inherit;
  }
  
  section{height: 100vh;}
  a {
      color:  hsl(45deg 93% 77%);
      text-decoration: none;
    }
    
    a:hover {
      color:  hsl(39deg 68% 81%);
      text-decoration: none;
    }
    
    h1, h2, h3, h4, h5, h6 {
      font-family: "Raleway", sans-serif;
    }
    main {
      margin-top:50px;
      background-color: #f7f7f7;
    }
    
    
  #header {
      
      background: #323232c7;
      box-shadow: 0px 0px 25px 0 rgb(0 0 0 / 8%);
      z-index: 997;
      padding: 15px 0;
  }
  #header .logo {
      font-size: 32px;
      margin: 0;
      padding: 0;
      line-height: 1;
      font-weight: 400;
      letter-spacing: 2px;
      text-transform: uppercase;
  }
  
  #header .logo a {
      color: #f8f8f8;
    }
    
    
  
  
    .navbar {
      right: -34%;
      padding: 0;
    }
    .navbar ul {
      margin: 0;
      padding: 0;
      display: flex;
      list-style: none;
      align-items: center;
    }
    .navbar li {
      position: relative;
      padding: 10px 0 10px 28px;
    }
    .navbar a, .navbar a:focus {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: "Raleway", sans-serif;
      font-size: 15px;
      font-weight: 600;
      text-decoration: none;
      color: #fffffe;
      white-space: nowrap;
      transition: 0.3s;
      position: relative;
    }
    .navbar a i, .navbar a:focus i {
      font-size: 12px;
      line-height: 0;
      margin-left: 5px;
    }
    .navbar > ul > li > a:before {
      content: "";
      position: absolute;
      width: 0;
      height: 2px;
      bottom: -5px;
      left: 0;
      background-color:  hsl(45deg 93% 77%);
      visibility: hidden;
      width: 0px;
      transition: all 0.3s ease-in-out 0s;
    }
    .navbar a:hover:before, .navbar li:hover > a:before, .navbar .active:before {
      visibility: visible;
      width: 25px;
    }
    .navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
      color:  hsl(39deg 68% 81%);
    }
    .navbar .dropdown ul {
      display: block;
      position: absolute;
      left: 14px;
      top: calc(100% + 30px);
      margin: 0;
      padding: 10px 0;
      z-index: 99;
      opacity: 0;
      visibility: hidden;
      background: #fff;
      box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
      transition: 0.3s;
      border-radius: 4px;
    }
    .navbar .dropdown ul li {
      min-width: 200px;
      padding: 0;
    }
    .navbar .dropdown ul a {
      padding: 10px 20px;
      font-size: 15px;
      text-transform: none;
      font-weight: 600;
    }
    .navbar .dropdown ul a i {
      font-size: 12px;
    }
    .navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
      color:  hsl(39deg 68% 81%);
    }
    .navbar .dropdown:hover > ul {
      opacity: 1;
      top: 100%;
      visibility: visible;
    }
    .navbar .dropdown .dropdown ul {
      top: 0;
      left: calc(100% - 30px);
      visibility: hidden;
    }
    .navbar .dropdown .dropdown:hover > ul {
      opacity: 1;
      top: 0;
      left: 100%;
      visibility: visible;
    }
  
    #about {
      width: 100%;
      height: auto;
   margin-top: 50px;
      
  }
  #about .div-img-bg .about-img img {
    width: 100%;
    box-shadow: 0px 0px 85px 0px rgb(0 0 0 / 14%);
    margin-top: -60px;
    margin-left: 40px;
    height: 400px;
    -o-object-fit: cover;
    object-fit: cover;
  }
  #about .div-img-bg {
    padding-bottom: 30px;
    border: 20px solid hsl(39deg 68% 81%);
  }
    .section-title {
      text-align: center;
      padding-bottom: 30px;
      padding-top: 55px;
  }
  .section-title h2 {
      font-size: 32px;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 20px;
      padding-bottom: 20px;
      position: relative;
      color: #4d4b4b;
  }
  .section-title h2::after {
      content: "";
      position: absolute;
      display: block;
      width: 50px;
      height: 3px;
      background: hsl(45deg 93% 77%);
      bottom: 0;
      left: calc(50% - 25px);
  }
  
  .skills .progress {
      height: 60px;
      display: block;
      background: none;
      border-radius: 0;
  }
  .skills .progress .skill {
      padding: 10px 0;
      margin: 0 0 6px 0;
      text-transform: uppercase;
      display: block;
      font-weight: 600;
      font-family: "Poppins", sans-serif;
      color: #222222;
  }
  .skills .progress .skill .val {
      float: right;
      font-style: normal;
  }
  .skills .progress-bar-wrap {
      background: #f3f3f3;
  }
  .skills .progress-bar {
      width: 1px;
      height: 10px;
      transition: 0.9s;
      background-color: hsl(39deg 68% 81%);
  }
  
  
  
  
  
  
  .text-box {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-image: linear-gradient(to right bottom, rgb(1 1 1 / 80%), rgba(56, 78, 90, 0.8)), url(/images/IMG_4102.JPG);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
  }
  
  .primary {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-transform: uppercase;
      backface-visibility: hidden;
  }
  
  .main {
      display: block;
      text-align: center;
      font-size: 3rem;
      animation: moveFromLeft 2s ease-in-out;
      color: wheat;
      font-family: cursive;
      font-weight: 900;
  } 
  
  .sub {
      display: block;
      text-align: center;
      font-size: 0.8rem;
      color: #f9f8f8;
      animation: moveFromRight 2s ease-in-out;
  }
  
  @keyframes moveFromLeft{
      0% {
          opacity: 0;
          transform: translateX(-6.25rem);
      }
  
      80% {
          transform: translateX(0.625rem);
      }
  
      100% {
          opacity: 1;
          transform: translate(0);
      }
  }
  
  @keyframes moveFromRight{
      0% {
          opacity: 0;
          transform: translateX(6.25rem);
      }
  
      80% {
          transform: translateX(-0.625rem);
      }
  
      100% {
          opacity: 1;
          transform: translate(0);
      }
  }
  